openapi: 3.0.0
info:
  title: Service Layer API
  description: Complete API documentation for the Service Layer
  version: 1.0.0
  contact:
    name: R3E Network
    email: support@r3e-network.io

servers:
  - url: https://api.service-layer.io/v1
    description: Production server
  - url: https://staging-api.service-layer.io/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development server

tags:
  - name: Authentication
    description: Authentication and user management endpoints
  - name: Functions
    description: JavaScript function execution in TEE
  - name: Secrets
    description: Secure secret management with envelope encryption
  - name: Gas Bank
    description: Gas management for blockchain operations
  - name: Automation
    description: Automated task execution and triggers
  - name: Oracle
    description: External data integration
  - name: Price Feed
    description: Blockchain price feed service
  - name: System
    description: System status and monitoring endpoints

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: Operation success status
        error:
          type: string
          description: Error message
          example: "Operation failed: Invalid input"
        code:
          type: string
          description: Error code
          example: "INVALID_INPUT"

paths:
  # Include path references to separate files for organization
  # Authentication Endpoints
  /auth/login:
    $ref: './auth_endpoints.yaml#/paths/~1auth~1login'
  /auth/register:
    $ref: './auth_endpoints.yaml#/paths/~1auth~1register'
  /auth/refresh:
    $ref: './auth_endpoints.yaml#/paths/~1auth~1refresh'
  /auth/user:
    $ref: './auth_endpoints.yaml#/paths/~1auth~1user'
  /auth/logout:
    $ref: './auth_endpoints.yaml#/paths/~1auth~1logout'

  # Functions Endpoints
  /functions:
    $ref: './functions_endpoints.yaml#/paths/~1functions'
  /functions/{id}:
    $ref: './functions_endpoints.yaml#/paths/~1functions~1{id}'
  /functions/{id}/execute:
    $ref: './functions_endpoints.yaml#/paths/~1functions~1{id}~1execute'
  /functions/{id}/logs:
    $ref: './functions_endpoints.yaml#/paths/~1functions~1{id}~1logs'

  # Secrets Endpoints
  /secrets:
    $ref: './secrets_endpoints.yaml#/paths/~1secrets'
  /secrets/{id}:
    $ref: './secrets_endpoints.yaml#/paths/~1secrets~1{id}'
  /secrets/name/{name}:
    $ref: './secrets_endpoints.yaml#/paths/~1secrets~1name~1{name}'
  /secrets/rotate-keys:
    $ref: './secrets_endpoints.yaml#/paths/~1secrets~1rotate-keys'
  /secrets/audit-log:
    $ref: './secrets_endpoints.yaml#/paths/~1secrets~1audit-log'

  # Gas Bank Endpoints
  /gasbank/balance:
    $ref: './gasbank_endpoints.yaml#/paths/~1gasbank~1balance'
  /gasbank/deposit-address:
    $ref: './gasbank_endpoints.yaml#/paths/~1gasbank~1deposit-address'
  /gasbank/withdraw:
    $ref: './gasbank_endpoints.yaml#/paths/~1gasbank~1withdraw'
  /gasbank/transactions:
    $ref: './gasbank_endpoints.yaml#/paths/~1gasbank~1transactions'
  /gasbank/transactions/{id}:
    $ref: './gasbank_endpoints.yaml#/paths/~1gasbank~1transactions~1{id}'

  # Automation Endpoints
  /automation:
    $ref: './automation_endpoints.yaml#/paths/~1automation'
  /automation/{id}:
    $ref: './automation_endpoints.yaml#/paths/~1automation~1{id}'
  /automation/{id}/pause:
    $ref: './automation_endpoints.yaml#/paths/~1automation~1{id}~1pause'
  /automation/{id}/resume:
    $ref: './automation_endpoints.yaml#/paths/~1automation~1{id}~1resume'
  /automation/{id}/execute:
    $ref: './automation_endpoints.yaml#/paths/~1automation~1{id}~1execute'
  /automation/{id}/history:
    $ref: './automation_endpoints.yaml#/paths/~1automation~1{id}~1history'

  # Oracle Endpoints
  /oracle/sources:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1sources'
  /oracle/sources/{id}:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1sources~1{id}'
  /oracle/sources/{id}/test:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1sources~1{id}~1test'
  /oracle/contracts:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts'
  /oracle/contracts/{id}:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts~1{id}'
  /oracle/contracts/{id}/pause:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts~1{id}~1pause'
  /oracle/contracts/{id}/resume:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts~1{id}~1resume'
  /oracle/contracts/{id}/update:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts~1{id}~1update'
  /oracle/contracts/{id}/history:
    $ref: './oracle_endpoints.yaml#/paths/~1oracle~1contracts~1{id}~1history'

  # Price Feed Endpoints
  /pricefeed/prices:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1prices'
  /pricefeed/prices/{symbol}:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1prices~1{symbol}'
  /pricefeed/history/{symbol}:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1history~1{symbol}'
  /pricefeed/symbols:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1symbols'
  /pricefeed/sources:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1sources'
  /pricefeed/alerts:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1alerts'
  /pricefeed/alerts/{id}:
    $ref: './pricefeed_endpoints.yaml#/paths/~1pricefeed~1alerts~1{id}'

  # System Endpoints
  /system/health:
    get:
      summary: System health check
      description: Returns the health status of all system components
      operationId: systemHealth
      tags:
        - System
      responses:
        '200':
          description: System health information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [healthy, degraded, unhealthy]
                        example: "healthy"
                      version:
                        type: string
                        example: "1.0.0"
                      components:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            status:
                              type: string
                              enum: [healthy, degraded, unhealthy]
                            details:
                              type: object
                              additionalProperties: true

  /system/metrics:
    get:
      summary: System metrics
      description: Returns system metrics in Prometheus format
      operationId: systemMetrics
      tags:
        - System
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: System metrics
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP function_executions_total Total number of function executions
                  # TYPE function_executions_total counter
                  function_executions_total{status="success"} 1548
                  function_executions_total{status="error"} 36
                  function_executions_total{status="timeout"} 12
                  # HELP function_execution_duration_seconds Function execution duration in seconds
                  # TYPE function_execution_duration_seconds histogram
                  function_execution_duration_seconds_bucket{le="0.1"} 528
                  function_execution_duration_seconds_bucket{le="0.5"} 1025
                  function_execution_duration_seconds_bucket{le="1"} 1330
                  function_execution_duration_seconds_bucket{le="5"} 1546
                  function_execution_duration_seconds_bucket{le="+Inf"} 1548
                  function_execution_duration_seconds_sum 842.3
                  function_execution_duration_seconds_count 1548
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'